::-webkit-scrollbar {
    width: 0.75rem;
    background-color: transparent;
    border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #434953;
    border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ad5492;
}

.app-title {
    position: absolute;
    top: .5em;
    left: .5em;
    font-size: 2rem;
    color: #ad5492;
    margin: 0;
} 

.container-wrapper {
    display: flex;
    gap: 1rem;
}

.flex-container-column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}