.app-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    color: #ad5492;
}

.menu-title {
    color: #d7d0c0;
    font-size: 2rem;
    z-index: 1;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menu-item {
    background-color: #d7d0c0;
    text-align: center;
    flex: 1;
    padding: 20px;
    border-radius: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.menu-item:hover {
    background-color: #ad5492;
    color: #d7d0c0;
    cursor: pointer;
}

.menu-item img {
    width: 2rem;
    height: 2rem;
    transition: 0.25s;
    border: none;
}

.menu-item img:hover {
    cursor: pointer;
}

.botonRojo {
    background-color: rgb(225 56 56);
    transition-duration: .15s;
}

.botonRojo:hover {
    background-color: rgb(255 0 0);
    color: black;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


table {
    width: 100%;
    border-spacing: 0;
    color: #5a4b6a;
    background-color: #f0e5d8;
    border-radius: 1.5rem;
    border: 1px solid #5a4b6a;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #ad5492;
    color: #f5f5dc;
}

table tr:nth-child(even) {
    background-color: #fdf5e6;
}